.table {
    height: 150px;
    padding: 5%;
    width: 90%;
    border: 1px solid #fff;
}

.currency {
    text-align: center;
    width: 20%;
    color: #fff;
}
@media(min-width: 768px) {
    .table {
        height: 216px;
        width: 300px;
        padding: 1% 2%;
    }
}
@media(min-width: 1080px) {
    .table {
        height: 221px;
        width: 350px;
    }
}